<div class="All row align-middle">
  <div class="col s12 m10">
    <a routerLink="/list/">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title center" style="flex: 1;">View Items</span>
        </div>
        <div class="center">
          <i class="material-icons center" style="font-size: 5rem; color: white">library_books</i>
        </div>
        <div class="card-action center">
          <a routerLink="/list/books">Books</a>
          <a routerLink="/list/dvds">DVDs</a>
        </div>
      </div>
    </a>  
  

<div class="row">
  <div class="col s12 m6">
    <a routerLink="/borrow/">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title" style="flex: .5;">Borrow
          </span> 
          <i class="material-icons center" style="font-size: 2rem; color: white;flex: .5;text-align: right;">add_shopping_cart</i>
        </div>
      </div>
    </a>
  </div>
<div class="col s12 m6">
  <a routerLink="/return/">
    <div class="card">
      <div class="card-content white-text">
        <i class="material-icons center" style="font-size: 2rem; color: white;flex: .5;text-align: left;">assignment_returned</i>
        <span class="card-title" style="text-align:right; flex: .5;">Return</span>
      </div>
    </div>
  </a>
  </div>
</div>
</div>

<div class="col s12 m2">
  <a routerLink="/user/register">
    <div class="card register">
      <div class="card-content white-text">
        <span class="card-title" style="flex: 1;">New</span>
        
      </div>
    </div>
  </a>  

  <a routerLink="/delete/">
    <div class="card delete">
      <div class="card-content white-text">
        <span class="card-title" style="flex: 1;">Delete</span>
       
      </div>
    </div>
  </a> 

  <a routerLink="/report/">
    <div class="card report">
      <div class="card-content white-text">
        <span class="card-title" style="flex: 1;">Report</span>
      </div>
    </div>
  </a>
  
  <a routerLink="/reserve/">
    <div class="card reserve">
      <div class="card-content white-text">
        <span class="card-title" style="flex: 1;">Reserve</span>
      </div>
    </div>
  </a>
</div>

</div>